* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #f59b1a;
    --color-secondary: black;
    --fuente-primaria: Arial, sans-serif;
    --fuente-secundaria: Georgia, serif;
}

h1,
h2,
h3 {
    font-family: var(--fuente-primaria);
}

p,
span,
button {
    font-family: var(--fuente-secundaria);
}

header {
    background-color: var(--color-primary);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;

}

header nav ul li a:hover {
    color: white;
}

header img {
    width: 70px;
    margin-left: 30px;
}

section {
    padding: 40px;
}


#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/imagen-de-fondo.jpg);
    background-size: cover;
    color: white;
    min-height: 80vh;

}

#banner h1 {
    font-size: 40px;
}

#banner p {
    width: 70%;
    font-size: 25px;
    color: rgb(228, 219, 219);
}

#banner img {
    max-height: 300px;
}


#categories h2,
#selection h2,
#contact h2 {
    font-size: 40px;
}

#categories,
#selection {
    text-align: center;
}

#categories .container-grid-categories,
#selection .container-grid-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

#categories .card,
#selection .card {
    padding: 20px;
    box-shadow: -3px -1px 9px 1px rgba(0, 0, 0, 0.144);
    -webkit-box-shadow: -3px -1px 9px 1px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: -3px -1px 9px 1px rgba(0, 0, 0, 0.144);
    border-radius: 10px;

}

#categories .card:hover {
    transform: scale(1.05);
}

#categories .card a,
#selection .card a,
#contact button {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    width: 50%;
    margin: 30px auto 0 auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

#selection {
    background-image: url(../Assets/Fondo-sabores.jpg);
    background-size: cover;
}

#selection h2 {
    color: white;
}

#selection .card {
    background-color: rgba(255, 255, 255, 0.87);
}

#selection .card img {
    width: 250px;
}

/* Contacto */

#contact {
    background-color: var(--color-primary);
}

#contact h2 {
    text-align: center;
    margin-bottom: 40px;
}

form {
    width: 50%;
    padding: 30px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
}

form * {
    display: block;
    width: 100%;
    margin: 5px 0;
    border: none;
    outline: none;
}

form input,
textarea {
    border: var(--color-secondary);
    padding: 10px;
    border-radius: 5px;
    width: 98%;
}

form label {
    margin: 10px 0;
}

.curved {
    position: relative;
    background: var(--color-primary);
    height: 3vh;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
}

footer {

    max-height: 5vh;
    padding: 20px;
    color: black;
    text-align: center;
}

footer p {
    text-align: left;
}

footer p a {

    color: black;
    text-decoration: none;
}

footer p a i:hover {
    color: var(--color-primary);
}

footer p i {
    margin-right: 5px;
    color: black;

}


.contenedor {
    position: relative;
    width: 100%;
}

.boton-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.boton-float i {
    width: 30px;
}

@media (max-width: 950px) {

    #categories .container-grid-categories,
    #selection .container-grid-selection {
        grid-template-columns: 1fr 1fr;
    }

    #banner {
        flex-direction: column;
    }
}

@media (max-width: 650px) {

    #categories .container-grid-categories,
    #selection .container-grid-selection {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 570px) {
    header nav ul {
        flex-direction: column;
    }

    #selection .card img {
        width: 150px;
    }

    #banner img {
        width: 200px;
    }
}